<%= render partial: 'shared/menu', locals: { s: 'matches' } %>

<h1 class='mb-4 flex items-center gap-2'><i class='fa fa-pencil text-brand'></i> Edycja meczu</h1>
<section class='card card-body max-w-3xl'>
  <%= render 'form' %>
</section>
